# Importing all the necessary libraries

In [21]:
import time

start = time.time()

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.feature_selection import VarianceThreshold
from collections import Counter
import imblearn
from imblearn.over_sampling import RandomOverSampler

In [22]:
# Setting custom random seed value to get deterministic desired data and reproducibility 
np.random.seed(1)

#Data Parsing

In [23]:
# Reading the files and saving them into seperate variables
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_feamat = pd.read_csv('feamat.csv')

# Dropping all the columns after 150
feamat_df = df_feamat.drop(df_feamat.iloc[:,150:].columns, axis=1)

# Replacing any infinite values with null
feamat_df = feamat_df.replace([np.inf, -np.inf], np.nan)

# Replacing all the null values with mean
feamat_df.fillna(feamat_df.mean(), inplace=True)

In [24]:
feamat_df.head(5)

           V1      V2          V3     V4      V5  ...  V146  V147  V148  V149  V150
0     60-35-5     178   59.037114 -0.808   43.09  ...     0     0     0     0     1
1    103-90-2    1983  151.063329  0.870   49.33  ...     0     0     0     0     1
2    968-81-0    1989  324.114378  2.960  100.72  ...     1     0     0     0     1
3    520-45-6  122903  168.042259 -0.551   60.44  ...     0     0     0     0     0
4  50594-66-6   44073  360.996485  4.557   89.67  ...     0     1     0     0     1

[5 rows x 150 columns]

In [25]:
# Calculating variance of all the columns and displaying it in descending order
feamat_df.var().sort_values(ascending=False)

V27    3.025037e+17
V2     1.235307e+14
V3     3.245040e+04
V5     4.760357e+03
V26    2.462033e+03
           ...
V34    7.921236e-04
V33    6.790400e-04
V30    0.000000e+00
V32    0.000000e+00
V29    0.000000e+00
Length: 149, dtype: float64

In [26]:
feamat_df.describe()

                 V2           V3  ...         V149         V150
count  8.831000e+03  8831.000000  ...  8831.000000  8831.000000
mean   3.532785e+06   285.458335  ...     0.321594     0.540029
std    1.111444e+07   180.139956  ...     0.467115     0.498423
min    4.000000e+00    30.010565  ...     0.000000     0.000000
25%    8.404000e+03   167.131014  ...     0.000000     0.000000
50%    3.776800e+04   246.065200  ...     0.000000     1.000000
75%    4.437930e+05   356.212576  ...     1.000000     1.000000
max    1.268434e+08  3566.878444  ...     1.000000     1.000000

[8 rows x 149 columns]

In [27]:
#  Displaying first 5 records of the test file 
df_test.head(5)

                  x
0      88-60-8;1682
1  122931-48-0;1656
2    NOCAS_47311;36
3   55589-62-3;1850
4     79902-63-9;30

In [28]:
# Storing the class labels of training records in a seperate variable y
y=df_train['Expected']

# Displaying number of records each class has and this shows that the dataset is highly unbalanced
print(Counter(y))

Counter({2: 66495, 1: 10918})

In [29]:
# Splitting the first column of train.csv and test.csv to 'chem Id' and 'Assay Id'
df_train[['ChemId', 'Assay Id']] = df_train.Id.str.split(";", expand=True)
df_test[['ChemId', 'Assay Id']] = df_test.x.str.split(";", expand=True)

# Renaming column v1 to ChemId
feamat_df.rename(columns = {'V1':'ChemId'}, inplace=True)

# Merging columns after data parsing
df_train = df_train.merge(feamat_df, on="ChemId", how="left")
df_test = df_test.merge(feamat_df, on="ChemId", how="left")

# Dropping unnecessary features after data parsing
df_train.drop(['Id', 'ChemId', 'V2', 'Expected'], axis=1, inplace=True) 
test = df_test.drop(['x', 'ChemId', 'V2'], axis=1)

In [30]:
df_train.head(5)

  Assay Id          V3     V4     V5   V6  ...  V146  V147  V148  V149  V150
0     1644  315.982463  4.592  40.46  0.0  ...     0     0     0     0     0
1     2451  156.151415  3.852  17.07  0.0  ...     1     0     0     0     0
2     1384  361.347528  9.912   0.00  0.0  ...     1     0     0     0     1
3       16  255.052302  2.294  83.66  0.0  ...     1     1     1     1     1
4     1856  149.894242  1.050   0.00  0.0  ...     0     0     0     0     0

[5 rows x 149 columns]

In [31]:
# Display top 5 columns 
test.head(5)

  Assay Id          V3     V4      V5   V6  ...  V146  V147  V148  V149  V150
0     1682  164.120115  3.659   20.23  0.0  ...     0     0     0     0     0
1     1656  431.056940  1.258  183.30  0.0  ...     0     0     1     1     1
2       36  695.250845  6.365   95.92  0.0  ...     1     0     1     1     1
3     1850  200.949810 -1.340   68.82  0.0  ...     0     0     1     1     0
4       30  418.271924  4.775   72.83  0.0  ...     1     0     0     0     0

[5 rows x 149 columns]

# Train Test Split

In [32]:
# Setting custom random seed value to get deterministic desired data and reproducibilty
np.random.seed(3)

In [33]:
# splitting training set 
x_train, x_test, y_train, y_test = train_test_split(df_train, y, test_size=.25, random_state=1)

In [34]:
# Printing the shape of the train test split
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(58059, 149) (19354, 149) (58059,) (19354,)

# Feature Selection using Variance Threshold

In [35]:
# Setting custom random seed value to get deterministic desired data and reproducibility
np.random.seed(7)

In [36]:
# Creating Variance Threshold object
selector = VarianceThreshold(threshold=0.5)

# Applying the threshold to x_train
selector.fit_transform(x_train)

# Fetching and Displaying all the remaining columns
all_columns = x_train.columns

# Output shows only one column has been removed
print(all_columns)

Index(['Assay Id', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       ...
       'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149',
       'V150'],
      dtype='object', length=149)

# Feature Scaling

In [37]:
# Creating the Scaling object
sc = StandardScaler()

# Fitting the train data to the feature scaling 
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Fitting the final test data
test = sc.transform(test)

#Oversampling

In [38]:
# Creating a object of RandomOverSampler
oversample = RandomOverSampler(sampling_strategy=0.5)

# Displaying count of records each class has before oversampling
print(Counter(y_train))

# fit and apply the transform
x_train, y_train = oversample.fit_resample(x_train, y_train)

# Displaying how many records each class has after oversampling
print(Counter(y_train))

Counter({2: 49847, 1: 8212})
Counter({2: 49847, 1: 24923})

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

# XGBoost (Bootstrap Aggregation)

In [39]:
# Creating XGBoost classifier 
xgb = XGBClassifier(max_depth=8, n_estimators=700,n_jobs=-1)

# Fitting the train test split
xgb.fit(x_train, y_train)

# Predicting the test split
xgb_pred = xgb.predict(x_test)

# F1-Macro Score Accuracy 
print('XGB', f1_score(y_test, xgb_pred, average='macro'))

trainend = time.time()

# Displaying total execution time in Seconds
print(f"Total Execution Time : {trainend - start}")

XGB 0.8089926483360065
Total Execution Time : 344.82408809661865

In [40]:
# # Downloading the submission file for kaggle

# from google.colab import files

# xgb_pred = xgb.predict(test)
# output = pd.DataFrame({'Id': df_test.x, 'Predicted':xgb_pred })
# output.to_csv('Bit_and_Byte_submission.csv', index=False)
# print("Your submission was successfully saved!")

# files.download('Bit_and_Byte_submission.csv')